# Env
.env
*.env

# Python
__pycache__/
*.pyc
venv/
backend/venv/

# Node
node_modules/

# Databases
*.db

# Storage & uploads
storage/
uploads/
backend/storage/
backend/uploads/

# Expo
.expo/

#Test Files
Test Files/


#Package Lock
package-lock.json/
