# Env
.env
*.env

# Python
__pycache__/
*.pyc
venv/
backend/venv/

# Node
node_modules/

# Databases
*.db

# Storage & uploads
storage/
uploads/
backend/storage/
backend/uploads/

# Expo
.expo/

#Test Files
Test Files/


#Package Lock
package-lock.json/
.vscode/
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.env
C:/PaperTrail/uploads/*
C:/PaperTrail/storage/*
*.db